@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --color-Liens-article: #007bff;
  --color-Liens-article-survol: #0056b3;
  --color-fond-header: #f9f9f9;
  --color-bordure-article: #eaeaea;
  --color-WORK: #0766f0;
  --color-TEAM: #dc5e53;
  --color-NEWS: #98dc62;
}

* {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  list-style: none;
}

body {
  display: flex;
  width: 100%;
  height: 100vh;
}

.nicole {
  background: url(images/nicole.jpg) no-repeat;
  background-size: cover;
  background-color: grey;
  background-position: center;
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: whitesmoke;
}

.nicole img {
  width: 50px;
  padding-right: 20px;
}

.logo {
  display: flex;
  align-items: flex-start;
  padding: 40px;
  margin-top: 10px;
}

.nicole h1 {
  display: flex;
  flex-direction: column;
  font-size: 1.8rem;
  text-transform: uppercase;
}

.news {
  background-color: #d6d6d62c;
  backdrop-filter: blur(2px);
  text-align: right;
  align-self: center;
  padding: 20px 15px;
  text-shadow: 0 0 5px black;
  margin: 25px;
}

.news h2 {
  margin-bottom: 20px;
  font-size: 1.8rem;
}

.news h2 span {
  font-weight: 300;
  font-style: italic;
  font-size: 16px;
}

nav ul {
  display: flex;
  justify-content: end;
  gap: 30px;
  margin: 0 30px 25px 0;
  text-shadow: 0px 0px 5px black;
}

.section2 {
  width: 50%;
  height: 100%;
  overflow-y: scroll;
}

header {
  padding: 25px;
  background-color: var(--color-fond-header);
  position: sticky;
  width: 100%;
}

header h1 {
  font-size: 1.8rem;
}

.page2 {
  display: flex;
  flex-wrap: wrap;
}

.article {
  box-sizing: border-box;
  width: 50%;
  border: 1px solid var(--color-bordure-article);
  text-align: left;
  padding: 25px;
}

.article h2 {
  font-size: 1.4rem;
  margin: 20px 0;
}

.pseudo {
  display: flex;
  align-items: center;
}

.pseudo img {
  width: 25px;
  height: 25px;
  margin-right: 15px;
}

.pseudo p {
  font-size: 0.8rem;
  font-weight: bold;
}

.pseudo p span {
  color: #9c9b9b;
  font-weight: 400;
}

.article p {
  margin: 15px 0;
}

.article a {
  color: var(--color-Liens-article);
  font-weight: 600;
}

.article a:hover {
  color: var(--color-Liens-article-survol);
}

#news,
#team,
#work {
  color: whitesmoke;
  display: inline-block;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: bold;
  padding: 5px;
  border-radius: 3px;
}

#news {
  background-color: var(--color-NEWS);
}

#team {
  background-color: var(--color-TEAM);
}

#work {
  background-color: var(--color-WORK);
}
